.content {
  padding-top: 10px;
}
.row {
  display: flex;
  gap: 10px;

  mat-form-field {
    width: 100%;
  }
}

.action {
  padding: 0px 25px 20px;
  button {
    flex: 1;
  }
}
.scroll-container {
  max-height: 450px; /* Ajuste la hauteur maximale */
  overflow-y: auto; /* Active la barre de défilement verticale */
  overflow-x: hidden; /* Empêche le défilement horizontal */
  padding-right: 10px; /* Optionnel : espace pour éviter la superposition avec la scrollbar */
}

